extend layout.pug

block prepend styles
    link(rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/datepicker.css')
    link(rel='stylesheet', href='/stylesheets/layout.css')

block content

block wq
    div(class="input-group date")
      input(type="text" class="form-control")
      span(class="input-group-addon")
        i(class="glyphicon glyphicon-th")


block append javascripts
    script(src="https://code.jquery.com/jquery-3.3.1.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="https://unpkg.com/bootstrap-table@1.15.4/dist/bootstrap-table.min.js")


    script.
        $('.input-group.date').datepicker({
            format: "yyyymmdd",
            todayBtn: true,
            language: "zh-CN",
            autoclose: true,
            todayHighlight: true
        });
       $('.input-group.date').datepicker()
        .on('changeDate',function(e) {
            // `e` here contains the extra attributes
            console.log(e.date);
            window.location.href = '/sys/wq/log/'+e.date.Format('yyyyMMdd');
        }); 

