body {
    box-sizing: border-box;
    min-width: 200px;
    //max-width: 1208px;
    //margin: 0 auto;
    /* padding: 45px; */
    background-color: #f5f6f7;
    //margin:auto,0;
}

ol, ul {
    list-style: none;
    padding-left:10px;
}

/*---------------------container--------------------*/
.container {
    width: 1208px;
}

/*---------------------main--------------------*/
main {
    float: right;
    display: block;
    width: 870px;
}

/*--------------------header-------------------*/
header .container {
    padding: 0;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    min-height:30px;
}
